body {
background-color: #e6f7ff;
}

.container {
  margin: auto;
  padding: inherit;
}

.header {
  text-align: center;
  font-size: 100px;
}

#stars {
  display: block;
  width: 100%;
  height: auto;
}

.center {
  text-align: center;
  animation:
}
.box #middle {
  position: relative;
  width: 100%;
}

#jazzy {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.side {
  text-align: center;
  color: maroon;
}

.side img {
  float: left top;
  width: 30%;
  height: auto;
}

.box:hover img {
  opacity: 0.3;
}

.box:hover .middle {
  opacity: 1;
}

.text {
  background-color: #585858;
  color: white;
  font-size: auto;
  padding: inherit;
}

#about {
  font-style: tahoma;
}

.card {
  background-color: lightgray;
  color: black;
  width: auto;
}

.card:hover {
  background-color: green;
  color: white;

}

.card:hover .list-group-item {
  color: Black;
}


.card-header {
text-align: center;
}

.card-img-top {
  display: inline;
  width: 100%;
  height:180px;
}

a {
  color: darkblue;
}

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pop-up:hover {
  background-color: pink;
}

.group img{
  width: 100%;
}

.group p {
  text-align: center;
  font-style: italic;
}
