body {

}

.header {
  text-align: center;
  font-size: 100px;
}

.center {
  text-align: center;
  animation:
}

#jazzy {
  max-width: 100%;
  height: auto;

}

.card {
  background-color: gray;
  color: white;
}

.card:hover {
  background-color: white;
  color: black;

}


.card-header {
text-align: center;
}
